<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,26},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,46},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,52},{5,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,28}}</string>
                <key>sourceSize</key>
                <string>{5,28}</string>
            </dict>
            <key>gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>gold7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_golden_rain.png</string>
            <key>size</key>
            <string>{88,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c4cf8ee124955a9912de58f3627902c:1/1$</string>
            <key>textureFileName</key>
            <string>effect_golden_rain.png</string>
        </dict>
    </dict>
</plist>
