<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>progress_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,132},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>progress_frame0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,132},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,63},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,21},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame12.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame13.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,132},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame14.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,111},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame15.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,132},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,90},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,69},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,0},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>progress_frame9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>progress_player.png</string>
            <key>size</key>
            <string>{109,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cc619359eeb0aaeac1368ee80a6683a:1/1$</string>
            <key>textureFileName</key>
            <string>progress_player.png</string>
        </dict>
    </dict>
</plist>
